# PW2-Data preparation : A basic Machine Learning algorithms to Read/write files, deal with Missing, cleaning, and Impute data

### Import

In [2]:
import pandas as pd
import numpy as np

### Exercise 6: Do it from scratch at home and upload it on Moodle

At first we are looking at the Dataframe of what we can possibly change or remove.

In [3]:
df=pd.read_csv('olympic.csv', delimiter= ',')
df.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
6,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
8,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
9,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
10,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
11,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
12,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
13,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
14,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
15,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
16,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
17,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
18,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
19,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220

Then we check all the missing values. We can see that we have only 1 null number which is in the first row

In [4]:
df.isnull().sum()

0     1
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

What to change :
First, we will remove the first rows and replace the column name 0 to 15 by the information that brings the first row.
Second, we will split the name of the country with his abbrevation that we will add to a new dataframe.
Third, we will change the types of the item inside the dataframe

In [5]:
df_cleaned=df[1:]
df_cleaned=df_cleaned.rename(columns={
    '0':'Country',
    '1':'№ Summer',
    '2':'1 ! (Summer)',
    '3':'2 ! (Summer)',
    '4':'3 ! (Summer)',
    '5':'Total (Summer)',
    '6':'№ Winter',
    '7':'1 ! (Winter)',
    '8':'2 ! (Winter)',
    '9':'3 ! (Winter)',
    '10': 'Total (Winter)',
    '11': '№ Games',
    '12': '1 ! (Games)',
    '13': '2 ! (Games)',
    '14': '3 ! (Games)',
    '15': 'Combined Total'
})
df_cleaned

,Country,№ Summer,1 ! (Summer),2 ! (Summer),3 ! (Summer),Total (Summer),№ Winter,1 ! (Winter),2 ! (Winter),3 ! (Winter),Total (Winter),№ Games,1 ! (Games),2 ! (Games),3 ! (Games),Combined Total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

here we retrieve the information of the country and the abbrevation with str.split

In [6]:
sep_1=df_cleaned.loc[:,'Country'].str.split('(',expand=True)
sep_2=sep_1[1].str.split(')',expand=True)

In [7]:
df_cleaned['Country']=sep_1[0]
df_cleaned['Abbrevation']=sep_2[0]
df_cleaned

,Country,№ Summer,1 ! (Summer),2 ! (Summer),3 ! (Summer),Total (Summer),№ Winter,1 ! (Winter),2 ! (Winter),3 ! (Winter),Total (Winter),№ Games,1 ! (Games),2 ! (Games),3 ! (Games),Combined Total,Abbrevation
1,Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
2,Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
3,Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
4,Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
5,Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
144,Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
145,Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
146,Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,None

here we have now abbrevation but it's not in the correct order

In [8]:
df_cleaned=df_cleaned[['Country','Abbrevation','№ Summer','1 ! (Summer)','2 ! (Summer)','3 ! (Summer)','Total (Summer)',
                       '№ Winter','1 ! (Winter)','2 ! (Winter)','3 ! (Winter)','Total (Winter)',
                       '№ Games','1 ! (Games)','2 ! (Games)','3 ! (Games)','Combined Total']]
df_cleaned

,Country,Abbrevation,№ Summer,1 ! (Summer),2 ! (Summer),3 ! (Summer),Total (Summer),№ Winter,1 ! (Winter),2 ! (Winter),3 ! (Winter),Total (Winter),№ Games,1 ! (Games),2 ! (Games),3 ! (Games),Combined Total
1,Afghanistan,AFG,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria,ALG,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina,ARG,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia,ARM,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia,ANZ,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants,IOP,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia,ZAM,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe,ZIM,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team,ZZX,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,None,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

Now we will see the types of our dataframe

In [9]:
df_cleaned.dtypes

Country           object
Abbrevation       object
№ Summer          object
1 ! (Summer)      object
2 ! (Summer)      object
3 ! (Summer)      object
Total (Summer)    object
№ Winter          object
1 ! (Winter)      object
2 ! (Winter)      object
3 ! (Winter)      object
Total (Winter)    object
№ Games           object
1 ! (Games)       object
2 ! (Games)       object
3 ! (Games)       object
Combined Total    object
dtype: object

we will now set country and abbrevation as string type and the other as int32

In [10]:
df_cleaned=df_cleaned.astype({'Country':'string',
                             'Abbrevation':'string',
                             '№ Summer':'int32',
                             '1 ! (Summer)':'int32',
                            '2 ! (Summer)':'int32',
                            '3 ! (Summer)':'int32',
                            'Total (Summer)':'int32',
                            '№ Winter':'int32',
                            '1 ! (Winter)':'int32',
                            '2 ! (Winter)':'int32',
                            '3 ! (Winter)':'int32',
                            'Total (Winter)':'int32',
                            '№ Games':'int32',
                            '1 ! (Games)':'int32',
                            '2 ! (Games)':'int32',
                            '3 ! (Games)':'int32',
                            'Combined Total':'int32'})
df_cleaned.dtypes

Country           string[python]
Abbrevation       string[python]
№ Summer                   int32
1 ! (Summer)               int32
2 ! (Summer)               int32
3 ! (Summer)               int32
Total (Summer)             int32
№ Winter                   int32
1 ! (Winter)               int32
2 ! (Winter)               int32
3 ! (Winter)               int32
Total (Winter)             int32
№ Games                    int32
1 ! (Games)                int32
2 ! (Games)                int32
3 ! (Games)                int32
Combined Total             int32
dtype: object